.logo {
  float: left;
  width: 250px;
  margin-left: -50px;
  height: 75px;
  background: #001529;
  position: relative;
  @include webkit(transition, all 0.2s ease);
  span {
    display: block;
    width: 177px;
    height: 47px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a2d3f;
    @include webkit(transition, all 0.2s ease);
  }
}

.collapsed-close {
  @include webkit(transition, all 0.2s ease);

  .logo {
    width: 80px;

    span {
      width: 100%;
    }
  }

  .collapsed-warp {
    margin-left: 65px;
  }
}

.collapsed-warp {
  @include webkit(transition, all 0.2s);
  margin-left: 220px;

  .collapsed-icon {
    font-size: 20px;
    cursor: pointer;
  }
}
